body {
  background-color: #F3F6FF;
}
.App {
  text-align: center;
}

.App-main {
  padding: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.refraim-prompt {
  padding-bottom: 20px;
}
