body {
  background-color: #F3F6FF;
}
.App {
  text-align: center;
}

.App-main {
  padding: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.refraim-prompt {
  padding-bottom: 20px;
}

.convo-text, .refraim-prompt {
  text-align: left;
}

.history-section {
  padding-bottom: 30px;
}

.history {
  padding-top: 20px
}

.validating, .validated {
  padding-bottom: 60px
}

.like-button {
text-align: right;
}

.brain-icon {
  height: 40px;
  width: 40px;
  float: right;
}